/* Internet Explorer */
.ie .navbar-inner {border: none; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); background: url(../images/transparent.png);}
.ie .dropdown-menu a:hover, .ie .dropdown-menu a:focus {background: #f2f1eb; filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}

/* Internet Explorer 9 only */
.ie9 .navbar-inner {filter: none;}

/* Internet Explorer 8 only */
.ie8 #header #logo {display: block; float: left; margin-right: 10px;}
.ie8 #name-and-slogan {display: block; padding: 0;}
.ie8 #site-name {margin: 8px 0 0 0;}
.ie8 #site-slogan {margin: 0;}
.ie8 #site-title-first-line {display: block; margin: -10px 0 0 0;}
.ie8 #site-title-second-line {display: block; margin: 0;}
.ie8 .navbar .container {margin-left: -20px;}

/* Internet Explorer 7 only */
.ie7 #header #logo {display: block; float: left; margin-right: 10px;}
.ie7 #name-and-slogan {display: block; padding: 0;}
.ie7 #site-name {margin: 8px 0 0 0;}
.ie7 #site-slogan {margin: 0;}
.ie7 #site-title-first-line {display: block; margin: -10px 0 0 0;}
.ie7 #site-title-second-line {display: block; margin: 0;}
.ie7 .navbar .container {margin-left: -20px;}
